<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangzhixuan.mapper.CostMapper">

	<resultMap id="BaseResultMap" type="com.wangzhixuan.model.Cost">
		<id column="id" property="id" />
		<result column="room_id" property="roomId" />
		<result column="electric_charge" property="electricCharge" />
		<result column="water_charge" property="waterCharge" />
		<result column="internet_charge" property="internetCharge" />
		<result column="tv_charge" property="tvCharge" />
		<result column="gas_charge" property="gasCharge" />
		<result column="equally_charge" property="equallyCharge" />
		<result column="other_charge" property="otherCharge" />
		<result column="year" property="year" />
		<result column="month" property="month" />
		<result column="remark" property="remark" />
		<result column="current_water_num" property="currentWaterNum" />
		<result column="last_water_num" property="lastWaterNum" />
		<result column="current_gas_num" property="currentGasNum" />
		<result column="last_gas_num" property="lastGasNum" />
		<result column="current_electric_num" property="currentElectricNum" />
		<result column="last_electric_num" property="lastElectricNum" />
		<result column="water_unit_price" property="waterUnitPrice" />
		<result column="gas_unit_price" property="gasUnitPrice" />
		<result column="electric_unit_price" property="electricUnitPrice" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, room_id AS roomId, electric_charge AS electricCharge, water_charge AS waterCharge, internet_charge AS internetCharge, tv_charge AS tvCharge, gas_charge AS gasCharge, equally_charge AS equallyCharge, other_charge AS otherCharge, year, month, remark
       ,current_water_num as lastWaterNum, last_water_num as lastWaterNum,current_gas_num as currentGasNum,last_gas_num as lastGasNum,current_electric_num as currentElectricNum,last_electric_num as lastElectricNum ,water_unit_price as waterUnitPrice,gas_unit_price gasUnitPrice,electric_unit_price electricUnitPrice
    </sql>
    
    <select id="selectCostPage" resultType="Cost">
       select
        <include refid="Base_Column_List"/>
        from cost
        where
        room_id = #{roomId}
       
        order by create_time desc
    
    </select>
    
</mapper>
