<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeiss.cms.mapper.DictTypeMapper">

	<!-- 通用查询映射结果 -->
		<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.zeiss.cms.model.DictType">
		<id column="dicttypeid" property="dicttypeid" />
		<result column="dicttypename" property="dicttypename" />
		<result column="rank" property="rank" />
		<result column="parentid" property="parentid" />
		<result column="seqno" property="seqno" />
		<result column="business_id" property="businessId" />
		<result column="catalog_id" property="catalogId" />
		<result column="dicttypecode" property="dicttypecode" />
		<result column="dictlevel" property="dictlevel" />
		<result column="dictcat" property="dictcat" />
	</resultMap>
	
	<resultMap id="BaseResultMapVo" type="com.zeiss.cms.model.vo.DictTypeVo">
		<id column="dicttypeid" property="dicttypeid" />
		<result column="dicttypename" property="dicttypename" />
		<result column="rank" property="rank" />
		<result column="parentid" property="parentid" />
		<result column="seqno" property="seqno" />
		<result column="business_id" property="businessId" />
		<result column="catalog_id" property="catalogId" />
		<result column="dicttypecode" property="dicttypecode" />
		<result column="dictlevel" property="dictlevel" />
		<result column="dictcat" property="dictcat" />
		<collection property="dictEntry" ofType="com.zeiss.cms.model.DictEntry">
			<id column="dictid" property="dictid" />
			<result column="dicttypeid" property="dicttypeid" />
			<result column="dictname" property="dictname" />
			<result column="status" property="status" />
			<result column="sortno" property="sortno" />
			<result column="erank" property="rank" />
			<result column="value" property="value" />
			<result column="edictlevel" property="dictlevel" />
			<result column="dictcode" property="dictcode" />
		</collection>
	</resultMap>

   <select id="selectDictTypeVoPage" resultMap="BaseResultMapVo">
      select 
      t.*,e.dicttypeid,e.dictid,e.dictname,e.status,e.sortno,e.rank as erank,value,e.dictlevel as edictlevel,e.dictcode
      from dict_type t left join dict_entry e on t.dicttypeid = e.dicttypeid
      
      where t.dicttypeid = #{id}
   </select>

   <select id="selectDictTypePage" resultType="DictType">
   
     select * from  dict_type
   
    <where>
      
      <if test="dictname!=null and dictname!='' ">
     
      dictname = #{dictname}
     
      </if>
    
      <if test="dicttypecode!=null and dicttypecode !='' ">
      
      dicttypecode = #{dicttypecode}
      
      </if>
    
    </where>
   
   
   </select>


</mapper>
