<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangzhixuan.mapper.DictEntryMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wangzhixuan.model.DictEntry">
		<id column="dicttypeid" property="dicttypeid" />
		<result column="dictid" property="dictid" />
		<result column="dictname" property="dictname" />
		<result column="status" property="status" />
		<result column="sortno" property="sortno" />
		<result column="rank" property="rank" />
		<result column="parentid" property="parentid" />
		<result column="dictlevel" property="dictlevel" />
		<result column="dictcode" property="dictcode" />
	</resultMap>

</mapper>
