<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangzhixuan.mapper.RoomMapper">

	<resultMap id="BaseResultMap" type="com.wangzhixuan.model.Room">
		<id column="id" property="id" />
		<result column="room_name" property="roomName" />
		<result column="building_id" property="buildingId" />
		<result column="type" property="type" />
		<result column="mon_rent" property="monRent" />
		<result column="status" property="status" />
		<result column="begin_date" property="beginDate" />
		<result column="end_date" property="endDate" />
		<result column="liver" property="liver" />
		<result column="remark" property="remark" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id ,building_id buildingId, room_name AS roomName, type, mon_rent AS monRent, status, begin_date AS beginDate, end_date AS endDate, liver, remark
    </sql>
    
      
       
    
    <select id="selectRoomPage" resultType="Room">
       select
       
         r.id ,r.building_id buildingId, r.room_name AS roomName, r.type, r.mon_rent AS monRent, r.status, r.begin_date AS beginDate, r.end_date AS endDate, t.tenant_name as liver, r.remark
      
        from room r left join tenant t on r.liver = t.identity_card
        where 1=1
        <if test="buildingId!=null">
          and r.building_id = #{buildingId}
        </if>
      
    
    </select>
    
    <select id="selectRoombyBuildId" resultType="Room" parameterType="java.lang.Long">
    
        select
       
         r.id ,r.building_id buildingId, r.room_name AS roomName, r.type, r.mon_rent AS monRent, r.status, r.begin_date AS beginDate, r.end_date AS endDate, t.tenant_name as liver, r.remark
      
        from room r left join tenant t on r.liver = t.identity_card
        where 1=1
        <if test=" buildingId!=null">
          and building_id = #{buildingId}
        </if>
    
    </select>
    
</mapper>
